/* src/styles/Card.module.css */
.card {
  background-color: var(--background-light);
  border-radius: 10px;
  color: #000100;
  max-width: 82rem;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  height: 600px;
}


