/* src/styles/CartaAberta.module.css */
.cartaAberta {
    background-color: rgba(35, 25, 11, 0.383);
    --webkit-backdrop-filter: blur(5px);
    --moz-backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
    color: #a1a1a1;
    max-width: 90%;
    min-height: 50rem;
    max-height: 100vh;
    text-align: justify;
    display: flex;
    flex-direction: column;
 
  }
  .cartaContainer {
    display: flex;
    justify-content: center;
    overflow-y: auto;
    box-shadow: 0px 0px 10px 3px #301f04d5;
  }
  .titulo {
    font-size: 28px;
    font-weight: 600;
    color: var(--orange-standard);
    text-align: center;
    margin-bottom: 1.8rem ;
    padding: 10px;
  }
  
  .subtitulo {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0;
    font-style: italic;
    color: #dddddd;
  }
  
  .conteudo {
    font-size: 18px;
    line-height: 1.5;
    padding: 6px;
  }

  
  .convidamos {
    color: #050505;  
    font-size: 18px;
    background-color: #62c975c2;  
    border-radius: 15px;
    padding: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
    box-sizing:border-box;
  }
  
  @media (max-width:768px) {
    .cartaAberta {
        max-width: 100%;
        margin: 0;
        padding: 0;
        padding-bottom: 0;
    }

    .titulo {
      padding-top: 200px;
      font-size: 26px;
      margin-bottom: 0;

    }

    .conteudo {
      font-size: 16px;
      padding: 0 auto;

    }

    .cartaContainer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      box-sizing: border-box;
      overflow-y: scroll;
    }
  }