/* src/styles/CartaAberta.module.css */
.cartaAberta {
    background-color: var(--background-light);
    --webkit-backdrop-filter: blur(5px);
    --moz-backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
    color: #000000;
    text-align: justify;
    display: flex;
    flex-direction: column;
 
  }
  .cartaContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
  }
  .titulo {
    font-size: 58px;
    font-weight: 600;
    color: var(--red-standard);
    text-align: center;
    padding: 10px;
  }
  
  .subtitulo {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0;
    font-style: italic;
    color: #000000;
  }
  
  .conteudo {
    font-size: 18px;
    line-height: 1.5;
    padding: 6px;
  }

  
 
.cartaContainer::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
  background: #fdfff8;
}

.cartaContainer::-webkit-scrollbar-thumb {
  background: var(--verde-scroll); /* Cor do handle da barra de rolagem */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 10%; /* Arredonda os cantos do handle */
}

.cartaContainer::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor quando o mouse está sobre o handle */
}
  
  @media (max-width:768px) {
    .cartaAberta {
        max-width: 100%;
        margin: 0;
        padding: 12px;
        padding-bottom: 0;
        height: 90%;
    }

    .titulo {
      font-size: 26px;
      margin: 0;
      padding: 0;
      height: 30px;

    }

    .subtitulo {
      font-size: 16px;
    }
    .conteudo {
      font-size: 16px;
      padding: 0 auto;

    }

    .cartaContainer {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      box-sizing: border-box;
      overflow-y: scroll;
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }