/* src/styles/CartaAberta.module.css */
.cartaAberta {
    background-color: var(--background-light);
    --webkit-backdrop-filter: blur(5px);
    --moz-backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
    color: #000000;
    text-align: justify;
    display: flex;
    flex-direction: column;
 
  }
  .cartaContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border: 3px solid --verde-escuro-padrao;
    padding: 20px;
  }
  .titulo {
    font-size: 58px;
    font-weight: 600;
    color: var(--red-standard);
    text-align: center;
    padding: 10px;
  }
  
  .subtitulo {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0;
    font-style: italic;
    color: #000000;
  }
  
  .conteudo {
    font-size: 18px;
    line-height: 1.5;
    padding: 6px;
  }

  
 
  
  @media (max-width:768px) {
    .cartaAberta {
        max-width: 100%;
        margin: 0;
        padding: 0;
        padding-bottom: 0;
    }

    .titulo {
      padding-top: 200px;
      font-size: 26px;
      margin-bottom: 0;

    }

    .conteudo {
      font-size: 16px;
      padding: 0 auto;

    }

    .cartaContainer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      box-sizing: border-box;
      overflow-y: scroll;
    }
  }