.convidamos {
  font-family: 'Montserrat';
  max-width: 350px;
  color: #fdfff8;  
  font-size: 18px;
  text-align: center;
  background-color: var(--verde-escuro-padrao);  
  border-radius: 15px;
  padding: 28px;
  letter-spacing: 2px;
  line-height: 1.4;
  box-sizing: border-box;
  max-height: 100%;
  overflow-y: auto;
}

.convidamos::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
  background: #fdfff8;
}

.convidamos::-webkit-scrollbar-thumb {
  background: var(--verde-scroll); /* Cor do handle da barra de rolagem */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 10%; /* Arredonda os cantos do handle */
}

.convidamos::-webkit-scrollbar-thumb:hover {
  background: var(--verde-escuro-padrao); /* Cor quando o mouse está sobre o handle */
}