/* EventosLista.module.css */

.eventosLista {
    gap: 2rem; /* You can adjust this to control the spacing between the two sections */
    align-items: center;
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
    background-color: var(--background-light);
    height: 100vh;
  }
  
  .eventosFuturos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: black;
  }
  
  .eventosPassados {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: black;    
  }
  .eventosContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1rem;
  }
  
  .cardSmall {
    width: 100px;
    height: 100px;
    object-fit: cover;
    

  }
  .titulo {
    font-size: 40px;
    color: var(--orange-standard);
  }
  
  @media (max-width: 768px) {
    .eventosLista {
      flex-direction: column;
    }
    .eventosFuturos,
    .eventosPassados {
      margin-bottom: 2rem;
      flex: 1;
    }
  }
  