
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --footer-bottom: 0;
  --background-dark: rgb(15, 6, 6);  
/*   --background-light: #f1f1df;
 */
 --background-light: #fffffe;
 --orange-standard: #ff5722; 
  --yellow-standard: #ffa322;
  --title-color: #f1fa8c;
  --if-color: #00bf63;
  --verde-escuro-padrao: #004f00;
  --verde-scroll: #013b01;
  --red-standard: #8d161a;
  --header-footer-color-light: rgba(167, 133, 42, 0.8);
  --header-footer-color: rgba(24, 19, 7, 0.8);
}

@font-face {
  font-family: roboto-regular;
  src: url('../../public/fonts/Roboto/Roboto-Regular.ttf');
}

html {
  font-family: roboto-regular;
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: var(--background-light);
    --background-start-rgb: #d8d8c1;
    --background-end-rgb: #2020ae;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-dark)


}
