/* src/styles/Home.module.css */
.main {
  background-color: var(--background-light);
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .homeContainer {
    display: flex;
    flex-direction: row;  
    padding: 12px;
  }

  @media (max-width: 768px) {

    .homeContainer {
      flex-direction: column-reverse;
    }

    .card {
      overflow-y:scroll;
    }
}