/* styles/Leituras.module.css */
.container {
    background-color: var(--background-light);
    --webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
  }
  
  .h2 {
    color: var(--red-standard);
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
  }
  
  .linkList {
    list-style-type: none;
    padding: 0;
  }
  
  .linkList li {
    margin-bottom: 10px;
  }
  
  .linkList a {
    color: #000000;
    text-decoration: none;
  }
  
  .linkList a:hover {
    color: var(--verde-escuro-padrao);
  }
  