.container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 5%;
  flex-direction: row;
  margin-top: 15%;
  align-items: center;
}

.cardLeituras {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --webkit-backdrop-filter: blur(10px);
  margin-bottom: 20px;
  transition: 0.2s ease;
  width: 30%;
}

.cardVideos {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --webkit-backdrop-filter: blur(10px);
  margin-bottom: 20px;
  transition: 0.2s ease;
  width: 70%;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
}
