/* src/styles/CartaAberta.module.css */
.cartaAberta {
    background-color: rgba(49, 49, 49, 0.6);
    --webkit-backdrop-filter: blur(5px);
    --moz-backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 20px 20px 150px 20px;
    color: #ffffff;
    max-width: 90%;
    min-height: 50rem;
    text-align: justify;
  }
  
  .titulo {
    font-size: 28px;
    font-weight: 600;
    color: #f1fa8c;
    text-align: center;
    margin-bottom: 1.8rem ;
  }
  
  .subtitulo {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0;
    font-style: italic;
    color: #bababa;
  }
  
  .conteudo {
    font-size: 18px;
    line-height: 1.5;
    padding: 6px;
  }

  
  .convidamos {
    color: #f7f8e0;  
    font-size: 18px;
    background-color: rgb(15, 6, 6);  
    border-radius: 15px;
    padding: 12px;
    box-sizing:border-box;
  }
  
  @media (max-width:768px) {
    .cartaAberta {
        max-width: 100%;
        margin: 0px auto;
        padding-bottom: 50px;
    }

    .titulo {
      padding-bottom: 20px;
      font-size: 26px;
      margin-bottom: 0;

    }

    .conteudo {
      font-size: 16px;
      padding: 0 auto;

    }

  }