/* src/styles/CartaAberta.module.css */
.cartaAberta {
    background-color: rgba(75, 75, 75, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
    max-width: 70%;
    margin: 5% 20% 0 5%;
    text-align: justify;
  }
  
  .titulo {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .subtitulo {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 25px;
    font-style: italic;
    color: #818181;
  }
  
  .conteudo {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 0 10px 0;
  }
  
  @media (max-width:768px) {
    .cartaAberta {
        max-width: 100%;
        margin: 0px auto;
    }
  }